[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
yapf = "*"

[packages]
flask = "*"
pyscss = "*"
gunicorn = "*"

[requires]
python_version = "3.8"

[scripts]
local = "bash ./run.sh"
