<p>
    I'm a software engineer based in Japan.
</p>
<p>
    My
    <a
      href="https://www.linkedin.com/in/ginomempin/"
      target="_blank">work experience</a>
    is quite diverse. Right now, I'm developing backend web services using Python and Kubernetes.
    In the past, I've worked on full-stack web apps using Node.js+Vue.js and AWS,
    Windows+Mac desktop apps using C++, and native Android+iOS mobile apps.
</p>
<p>
    When it comes to work, I believe in continuous learning,
    keeping it
    <a
      href="https://en.wikipedia.org/wiki/Don%27t_repeat_yourself"
      target="_blank">DRY</a>,
    "<i>leaving the campground cleaner than the way you found it</i>", and
    <a
      href="http://wiki.c2.com/?LazinessImpatienceHubris"
      target="_blank"><i>being lazy as one of the virtues of a good programmer</i></a>.
</p>
<p>
    As a way of motivating myself to get out more often and to get a bit of
    exercise, I do a bit of
    <a
      href="https://www.flickr.com/people/ginomempin/"
      target="_blank">photography</a>.
    I find that it's a great way to unplug and to reboot my brain after
    a long, hard week.
</p>
<p>
    I also like to
    <a
      href="https://www.goodreads.com/ginomempin/"
      target="_blank">read</a>,
    and when I'm not out on a photowalk or glued to a keyboard working on some
    <a
      href="https://github.com/ginomempin"
      target="_blank">side project</a>,
    I usually spend my time retreating into a book while drinking some hot tea
    and munching on a pack of soft chocolate chip cookies.
</p>
<p>
    I enjoy eating spicy food, sushi, dark chocolate, pineapples, and almost anything
    that has cheese in it.
</p>
